<div class="container browser-default">
  <div class="page-title">
    <h3>質問項目編集</h3>
  </div>

<%= render 'form' %>

    <div class="actions right-align">
      <%= f.submit "編集" ,:class=>"btn btn-large btn-question" %>
    </div>
</div>
