<div class="container browser-default">
<div class="page-title">
<h3>質問項目登録</h3>
</div>

<%= render 'form' %>

    <div class="actions right-align">
      <%= f.submit "登録" ,:class=>"btn btn-large btn-question" %>
    </div>
</div>
