<div class="page-title">
  <h3>評価結果</h3>
</div>
<div class="table-title center-align">
  <%=current_user.superior_user.name %> さんからの評価
</div>
  <table class="bordered highlight answer_table">
    <tbody>
      <% @answers.each do |answer| %>
        <tr>
          <td colspan="2" class="question-text">
            <%= answer.question.text %>
          </td>
        </tr>
        <tr>
          <td class="question_alternative-rate">
            評価ポイント：<%= answer.rate %>
          </td>
          <td>
            <% question_alternative = QuestionAlternative.find_by(question_id: answer.question_id,rate: answer.rate)%>
            <%= question_alternative.text %>
          </td>
      <% end %>
    </tbody>
  </table>
