<div class="page-title">
  <h3>評価結果</h3>
</div>
<div class="table-title center-align">
  <%=current_user.superior_user.name %>さんからの評価
</div>
  <table class="bordered highlight answer_table">
    <thead class="td-title">
      <td colspan="2">評価尺度</td>
    </thead>
    <tbody >
      <% @answers.each do |answer| %>
        <tr class="question-text">
          <td colspan="2"><%= answer.question.text %></td>
        </tr>
        <tr>
          <td><%= answer.rate %></td>
          <td colspan="2"><% question_alternative = QuestionAlternative.find_by(question_id: answer.question_id,rate: answer.rate) %>
          <%= question_alternative.text %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
