<div class="page-title">
  <h3>部下一覧</h3>
</div>
<div class="subordinate-table center-align">
  <%= current_user.name%> さんの部下一覧
</div>
  <table class="bordered highlight">
    <tbody>
      <% @subordinates.each do |subordinate| %>
        <tr>
          <td class="user-name"><%= subordinate.name %></td>
          <td><%= subordinate.email %></td>
          <td><%= link_to '評価・閲覧', "/answers/#{subordinate.id}/select_period" %></td>
      <% end %>
    </tbody>
  </table>
  <br>
