<div class="container browser-default">
<div class="page-title">
  <h3>ユーザーリスト</h3>
</div>

  <table class="striped">
    <thead>
      <tr>
        <th>氏名</th>
        <th>e-mail</th>
      </tr>
    </thead>

    <tbody>
      <% @subordinates.each do |subordinate| %>
        <tr>
          <td><%= subordinate.name %></td>
          <td><%= subordinate.email %></td>
          <td><%= link_to '評価する', "/answers/new/#{subordinate.id}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
