  <h3>ユーザーリスト</h3>

  <table class="striped">
    <thead>
      <tr>
        <th>氏名</th>
        <th>メールアドレス</th>
      </tr>
    </thead>

    <tbody>
      <% @subordinates.each do |subordinate| %>
        <tr>
          <td><%= subordinate.name %></td>
          <td><%= subordinate.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
