<div class="select_period">
  <div class="row">
    <div class="col s8">
      <%= form_tag({controller: :answers, action: :switch_period},{:method=>"get"}) do %>
        <%= label_tag :評価期選択 %><br>
        <%= select_tag 'period[title]', options_from_collection_for_select(Period.all, :id, :title), { :prompt => "選択してください" } %>
    </div>
  </div>
  <div class="actions">
    <div class="register right-align">
      <%= submit_tag "選択", class: "btn btn-register waves-effect waves-light"%>
    </div>
  </div>
  <% end %>
</div>
