
.question-bold {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

.answer-table td, th {
  padding: 30px 10px 30px 10px !important;
}

.question_id {
  font-size: 25px;
}

.actions .btn-answer {
  background-color: $primary-color;
  font-size: 17px;
  margin-bottom: 20px;
  &:hover {
    background-color: $primary-color;
    opacity: 0.8;
  }
}
