@import "materialize/components/color";
$primary-color: color("green", "lighten-1") !default;
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import '*';

// フォント・色指定
body {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: #666666;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #FCFCFC;
}
.contents {
  flex: 1 0 auto;
}
.container {
  padding-top: 64px;
  padding-bottom: 100px;
}
// 各ページタイトル
.page-title h3{
  font-size: 35px;
  color: $primary-color;
}

// テーブルの文字
td {
  font-size: 17px;
}
