#notice {
  color: #fff;
  height: 40px;
  background-color: #91D1BF;
  padding: 10px 20px;
  margin: 30px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

#alert {
  color: #fff;
  height: 40px;
  background-color: #EC7B7C;
  padding: 10px 20px;
  margin: 30px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
