body header nav {
  z-index: 10;
  background-color: $primary-color;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  & .left-logo {
    left: 1%;
    transform: none;
    height: 100%;
  }
}

.dropdown-content li > a, .dropdown-content li > span {
  color: $primary-color !important;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  font-size: 30px;
  height: 64px;
  line-height: 64px;
}
.brand-logo img {
  height: 100%;
  transform: none;
}
