nav .nav-wrapper .brand-logo{
  text-align: left;
  padding-left: 10px;
}

body header nav .nav-wrapper {
  background-color: $primary-color;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: $primary-color !important;
}

nav .nav-wrapper .left-logo {
  left: 2%;
  transform: none;
}
