

body header nav {
  background-color: $primary-color;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: $primary-color !important;
}

nav .left-logo {
  left: 1%;
  transform: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
}
