
//もどるとかのリンク
.bottom-link .row a {
  color: $primary-color;
  margin: 5px 10px;
  opacity: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 40px;
  tiny: 1rem;
  small: 2rem;
  medium: 4rem;
  large: 6rem;
  &:hover {
    opacity: 0.5;
  }
}
