.input-field textarea.materialize-textarea {

}

.actions .btn-question {
  background-color: $primary-color;
  font-size: 17px;
  width: 200px;
  color: none;
  text-transform: none;

  &:hover{
    background-color: $primary-color;
    opacity: 0.8;
   }
}
