.actions .btn-question {
  background-color: $primary-color;
  font-size: 17px;
  width: 200px;
  color: none;
  text-transform: none;

  &:hover{
    background-color: $primary-color;
    opacity: 0.8;
   }
}

.btn-question input {
  outline: 0;
  width: 100%;
  height: 100%;
}

.bordered tbody .questionindex-text {
  font-weight: bold;
}

textarea.materialize-textarea {
  padding: 0;
}

// 一覧画面から登録画面へのリンク
.question-link {
  margin-bottom: 30px;
  background-color: $primary-color;
}

// 部門登録画面
// materializeとの競合防止
.question_grade_regist [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  opacity: 1;
  pointer-events: auto;
}
// 部門等級選択肢文字大きさ
.question_grade_regist label {
  font-size: 1.3rem;
}

.grade_head {
  font-size: 20px;
  border-bottom: 1px solid;
  color: #666666;
}
.question_grade_regist {
  margin-bottom: 100px;
}
