.top-page {
  height: calc(100vh - 64px);
  background: #FCE4EC;
  background-image: url("suiden.jpg");
}

.page-title h1 {
  color: #FFF;
  margin: 0;
  text-align: center;
  padding-top: 270px;
  height: calc(477px - 270px)
}
