.toppage-contents {
  height: calc(100vh);
  background: #e0f2f1;
  // background-image: url("suiden.jpg");
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0,88,143,1);
  background: -moz-linear-gradient(45deg, rgba(0,88,143,1) 0%, rgba(255,241,89,0.29) 73%, rgba(255,241,89,0.07) 95%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,88,143,1)), color-stop(73%, rgba(255,241,89,0.29)), color-stop(95%, rgba(255,241,89,0.07)));
  background: -webkit-linear-gradient(45deg, rgba(0,88,143,1) 0%, rgba(255,241,89,0.29) 73%, rgba(255,241,89,0.07) 95%);
  background: -o-linear-gradient(45deg, rgba(0,88,143,1) 0%, rgba(255,241,89,0.29) 73%, rgba(255,241,89,0.07) 95%);
  background: -ms-linear-gradient(45deg, rgba(0,88,143,1) 0%, rgba(255,241,89,0.29) 73%, rgba(255,241,89,0.07) 95%);
  background: linear-gradient(45deg, rgba(0,88,143,1) 0%, rgba(255,241,89,0.29) 73%, rgba(255,241,89,0.07) 95%),url("suiden.jpg");
  }

.page-title a {
  color: #FFF;
  margin: 0;
  font-size: 2.1em;
  letter-spacing: 0.5em;
}
.flash-root  {
  width: 100%;
  position: absolute;
  text-align: center;
}
#notice-root {
  color: #FFF;
  font-size: 16px;
}
#alert-root {
  color: #EC7B7C;
  font-size: 16px;
}
