  .btn-register {
    background-color: $primary-color;
    text-transform: none;
    font-size: 15px;
    width: 200px;

    &:hover {
      background-color: $primary-color;
      opacity: 0.8;
    }
  }
