// エラーメッセージ
#error_explanation h4 {
  color:#e57373;
}

// 登録ボタン
.actions .register .btn-register {
  background-color: $primary-color;
  font-size: 17px;
  width: 200px;
  margin: 100px 0;

  &:hover {
    background-color: $primary-color;
    opacity: 0.8;
  }
}

// 各ページタイトル
.page-title h3{
  font-size: 35px;
  color: $primary-color;
  padding-top: 10px;
}

// ユーザー一覧画面,質問項目一覧
.bordered tbody tr td a{
  color: $primary-color;
  opacity: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  &:hover {
    opacity: 0.6;
  }
}



// .link {
//   display: block;
//   height: 0;
//   width: 0;
//   height: 36px;
//   width: 260px;
//   background-color: green;
// }

