// エラーメッセージ
#error_explanation h4 {
  color:#e57373;
}

// 登録ボタンのブロック
.register {
  margin-top: 150px;
}
// 登録ボタン
.btn-register {
  background-color: $primary-color;
  text-transform: none;
  font-size: 15px;
  width: 200px;

  &:hover {
    background-color: $primary-color;
    opacity: 0.8;
  }
}
// ユーザー一覧から飛ぶメニューボタン
.btn-menu {
  background-color: $primary-color;
  margin: 10px 10px;
  & a{
  color: #fff;
  }
  &:hover {
    background-color: $primary-color;
    opacity: 0.8;
  }
}

// 各ページタイトル
h3 {
  font-size: xx-large;
  color: $primary-color;
}

// ユーザー一覧画面
.striped tbody tr td a{
  color: $primary-color;
  opacity: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  &:hover {
    opacity: 0.6;
  }
}


// .link {
//   display: block;
//   height: 0;
//   width: 0;
//   height: 36px;
//   width: 260px;
//   background-color: green;
// }

