.actions .btn-login {
  background-color: $primary-color;
  font-size: 17px;
  width: 200px;
  color: none;

    &:hover{
    background-color: $primary-color;
    opacity: 0.8;
   }
}
.col .row .input-field .login-form {
  height: 50px;
}
